.search-container{
    padding: 2% 2% 2% 2%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.showing-books{
    text-align: center;
    margin: 20px 0;
}

.showing-books button{
    color: blue;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
}
